<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
          source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy
          customization.</p>
      </div>
      <div class="col-lg-4">
        <p>I am a rising sophomore Computer Engineering student at the University of Notre Dame. Coming from Lebanon, my strong passion has always been to serve my community and promote diversity through the integration of technology.
          My interests span a wide range of subjects, including Mathematics, human-computer interaction, Economics, landscape photography, and poetry. As I approach my future undergraduate studies, I am eager to combine my passion for Computer Engineering with my love for community engagement. I am excited about the prospect of integrating hardware and software applications with my interests to make a meaningful impact on the world. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
